@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Sansita%20Swashed');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama&display=swap');
@font-face {
    font-family: 'steal';
    src: local('/font5.ttf'), url('/font5.ttf');
}
body, h1, h2, h3, h4, p, strong { font-family: 'Karla', sans-serif !important; }  
.font-1 {
    font-family: 'Yellowtail', sans-serif !important;
    font-weight:800!important;
    text-transform: none!important;
}
.font-2 {
    font-family: 'Sansita Swashed', sans-serif !important;
    font-weight:800!important;
    text-transform: none!important;
}
.font-3 {
    font-family: 'Dr Sugiyama', sans-serif !important;
    font-weight:800!important;
    text-transform: none!important;
}

.font-5 {
    font-family: 'steal'!important;
}

.icon-box-pink .icon{background:#fceef3}.services .icon-box-pink .icon i{color:#ff689b}.services .icon-box-pink:hover{border-color:#ff689b}

.background-star {
    background-color: #ff00f7;
    background: url(/img/stars-background.gif), url(/img/background.png) center center; 
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
    box-shadow: 0 1px 10px 0 rgba(180, 0, 255, 0.5), 0 5px 20px 0 rgba(255, 0, 255, 0.5)!important;
}

.theme-light {
    --color-background: #a7a7a7;
    --img-background: url(/img/background-white.png);
    --img-background2: url(/img/background-black.png);
    --font-color: black;
    --background-color: white;
    --background-color2: rgb(30, 30, 30);
}
.theme-dark {
    --color-background: rgb(30, 30, 30);
    --img-background: url(/img/background-black.png);
    --img-background2: url(/img/background-white.png);
    --font-color: white;
    --background-color: black;
    --background-color2: #a7a7a7;
}
.theme-color-font1 {
    color: var(--font-color)!important;
}
.theme-color-font2 {
    color: var(--background-color)!important;
}
.theme-color {
    color: var(--font-color)!important;
    background-color: var(--color-background)!important;
    background-image: var(--img-background)!important;
}
.theme-background2 {
    color: var(--background-color)!important;
    background-color: var(--background-color2)!important;
    background-image: var(--img-background2)!important;
}

.navbar-color:hover {
    text-shadow: var(--public-text-shadow)!important;
}

.public-page {
    --public-color1: #ff00f7;
    --public-degrade1: linear-gradient(141deg, #a200ffb1 0%, #e100ffb1 30%, #ff00f7b1 70%, #ff0062b1 100%);
    --public-degrade2: linear-gradient(141deg, #ff006250 0%, #ff00f750 40%, #e100ff50 60%, #a200ff50 100%);
    --public-shadow: 0 1px 10px 0 rgba(180, 0, 255, 0.5), 0 5px 20px 0 rgba(255, 0, 255, 0.5);
    --public-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.600);
    --public-select: #ff00f760;
}
.private-page {
    --public-color1: #ff00f7;
    --public-degrade1: linear-gradient(141deg, #a200ffb1 0%, #e100ffb1 30%, #ff00f7b1 70%, #ff0062b1 100%);
    --public-degrade2: linear-gradient(141deg, #ff006250 0%, #ff00f750 40%, #e100ff50 60%, #a200ff50 100%);
    --public-shadow: 0 1px 10px 0 rgba(180, 0, 255, 0.5), 0 5px 20px 0 rgba(255, 0, 255, 0.5);
    --public-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.600);
    --public-select: #ff00f760;
}

.degrade {
    background-image: var(--public-degrade1)!important;
    box-shadow: var(--public-shadow)!important;
}
.degrade-reverse {
    background-color: var(--public-color1)!important;
    background-image: var(--public-degrade2)!important;
    box-shadow: var(--public-shadow)!important;
}
.shadow-box {
    box-shadow: var(--public-shadow)!important;
}
.shadow-text {
    text-shadow: var(--public-text-shadow)!important;
}
.selecionado {
    border-radius: 3px;
    background-color: var(--public-color1)!important;
}
.select-hover:hover {
    background-color: var(--public-select)!important;
}

.dashboard-select-hover:hover {
    background-color: rgba(123, 123, 123, 0.2); 
    border-left: .4vh solid purple!important;
    border-radius: 3px; 
    cursor: pointer;
}

.dashboard-select {
    border-radius: 3px; 
    background-color: rgba(123, 123, 123, 0.2); 
    border-left: .4vh solid purple!important;
}

.card-pink:hover { box-shadow: 0 1px 20px 0 rgba(255, 0, 255, 0.6), 0 5px 30px 0 rgba(255, 0, 255, 0.6)!important; }
.card-cyan:hover { box-shadow: 0 1px 20px 0 rgba(0, 255, 255, 0.6), 0 5px 30px 0 rgba(0, 255, 255, 0.6)!important; }
.card-red:hover { box-shadow: 0 1px 20px 0 rgba(255, 0, 0, 0.6), 0 5px 30px 0 rgba(255, 0, 0, 0.6)!important; }
.card-yellow:hover { box-shadow: 0 1px 20px 0 rgba(255, 255, 0, 0.6), 0 5px 30px 0 rgba(255, 255, 0, 0.6)!important; }
.card-pink:hover .background-pink { background: rgba(255, 0, 255, 0.7)!important; }
.card-cyan:hover .background-cyan { background: rgba(0, 255, 255, 0.7)!important; }
.card-red:hover .background-red { background: rgba(255, 0, 0, 0.7)!important; }
.card-yellow:hover .background-yellow { background: rgba(255, 255, 0, 0.7)!important; }

.button-base {
    background-color: #af4cac;
    border: none;
    color: white;
    padding: 06px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-default {
    text-decoration: none;
    background-color: var(--color-background);
    background-image: var(--img-background)!important;
    border-radius: 3px;
    color: var(--font-color);
}
.button-default:hover {
    background-color: var(--font-color);
    color: var(--background-color);
}

.button-star {
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    background-image: linear-gradient(141deg, #a200ff 0%, #e100ff 30%, #ff00f7 70%, #ff0062 100%);
    color: var(--font-color2);
}
.button-star:hover {
    background-color: #ff00ff;
    background-image: linear-gradient(141deg, #ff0062 0%, #ff00f7 30%, #e100ff 70%, #a200ff 100%);
    color: var(--font-color);
}

.button-red {
    background-color: white;
    border-radius: 3px;
    background-image: linear-gradient(141deg, #ff0000 0%, #ff0080 30%, #ff0080 70%, #ff0000 100%);
    color: var(--font-color2);
}
.button-red:hover {
    background-image: linear-gradient(141deg, #ff0080 0%, #ff0000 30%, #ff0000 70%, #ff0080 100%);
    color: var(--font-color);
}

.block-button {
    margin-bottom: 5px;
    border-left: 2px solid purple;
    border-radius: 5px;
    background-color: rgba(123, 123, 123, 0.3);
    padding: 3px;
    cursor: not-allowed;
}

.permissions {
    margin-bottom: 5px;
    border-left: 2px solid purple;
    border-radius: 5px;
    background-color: rgba(123, 123, 123, 0.2);
    padding: 3px;
    cursor: pointer;
}
.permissions:hover {
    background-color: rgba(123, 123, 123, 0.8);
}
.permissions-selected {
    background-color: rgba(123, 123, 123, 0.8);
}

.color-red:hover {
    color:  red!important;
}

.invisible { display: none!important; }

.guild-container{
    top: 72px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .guild-container .serv-container {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

@media screen and (max-width: 991px) {
    .dashboard { display: flex; flex-direction: column!important;}
    .starmenu { display: flex; flex-direction: column!important; padding: 0px!important; max-width: 100%!important;}
    .fullDash { width: 100%!important; }
    .remove { display: none!important; }
    .full {width: 90%!important;}
    .resize-premium {width: 50%!important;}
    .starcadent { padding: 0px!important; font-size: 0.8em;}
    .save { width: 91%!important; margin-inline: 0px!important; font-size: 0.7em!important; }
    .saveButton { width: 20%; }
}

.botao:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.botao:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.avatar {
    border: 3px solid var(--background-color) !important;
    box-shadow: 0 5px 24px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.22)!important;
}

.avatar-small {
    border: 2px solid var(--background-color) !important;
    box-shadow: 0 5px 24px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.22)!important;
}

.btn {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
    font-size: 1.25rem !important;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: white !important;
    color: #363636 !important;
    box-shadow: none;
    border-color: white !important
}

.saveMenu{
    position: fixed;
    bottom: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AFAFAF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-image: linear-gradient(141deg, #a200ff 0%, #e100ff 30%, #ff00f7 70%, #ff0062 100%)!important;
}

input:focus + .slider {
    box-shadow: 0 1px 10px 0 rgba(180, 0, 255, 0.5), 0 5px 20px 0 rgba(255, 0, 255, 0.5)!important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid purple;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text:after {
  content: 'Carregando';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Carregando';
  }
  35% {
    content: 'Carregando.';
  }
  50% {
    content: 'Carregando..';
  }
  85% {
    content: 'Carregando...';
  }
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
   }
   ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FF00FF 35%,#ae00ff 90%);
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #AE00FF 35%,#ff00ff 90%);
   }
   ::-webkit-scrollbar-track{
    background: #8f8f8f;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #4d4d4d;
}